CandidatesApp1.0/files/CandidatesApp_Import_Sheet1.txt
[{"id":"b6feca1.f490138","type":"twitter in","twitter":"","tags":"Hillary Clinton","user":"false","name":"","topic":"tweets","x":216,"y":170.99998474121094,"z":"2571a477.da8e5c","wires":[["4dfffacf.b20004"]]},{"id":"4dfffacf.b20004","type":"sentiment","name":"Sentiment","x":399.9999694824219,"y":171,"z":"2571a477.da8e5c","wires":[["40b7d462.bf482c","bd61e3f6.429e2"]]},{"id":"40b7d462.bf482c","type":"debug","name":"","active":false,"console":"false","complete":"true","x":602.9999694824219,"y":124,"z":"2571a477.da8e5c","wires":[]},{"id":"ee17c9ad.11e838","type":"sqldb out","service":"SQL Database-94","table":"HILLARYCLINTON","name":"","x":853.9999694824219,"y":140.99998474121094,"z":"2571a477.da8e5c","wires":[]},{"id":"a9af7fc3.56508","type":"twitter in","twitter":"","tags":"Jeb Bush","user":"false","name":"","topic":"tweets","x":216.79995727539062,"y":326.79998779296875,"z":"2571a477.da8e5c","wires":[["4b288bf.fb4d774"]]},{"id":"4b288bf.fb4d774","type":"sentiment","name":"Sentiment","x":390.79998779296875,"y":326.7999725341797,"z":"2571a477.da8e5c","wires":[["a7c40634.583bf8","afb1744.f504e88"]]},{"id":"df2bce69.20d43","type":"sqldb out","service":"SQL Database-94","table":"JEBBUSH","name":"","x":801.7999572753906,"y":325.8000030517578,"z":"2571a477.da8e5c","wires":[]},{"id":"a7c40634.583bf8","type":"sqldb in","service":"SQL Database-94","query":"select count(*) as bettertweets from jebbush  where sentiment >= ?","params":"msg.sentiment.score","name":"","x":336.7999572753906,"y":463.7999725341797,"z":"2571a477.da8e5c","wires":[["b0483b7c.4fb7c8","87976228.7868a"]]},{"id":"eb9d3fc4.1462c","type":"template","name":"Alert template","field":"payload","template":"New top tweet received: \"{{tweet.text}}\" with a sentiment score of {{sentiment.score}}","x":783.7999572753906,"y":463.7999725341797,"z":"2571a477.da8e5c","wires":[["599d6ae4.a66294"]]},{"id":"599d6ae4.a66294","type":"debug","name":"ALERT","active":true,"console":"false","complete":"payload","x":794.7999572753906,"y":559.7999725341797,"z":"2571a477.da8e5c","wires":[]},{"id":"b0483b7c.4fb7c8","type":"debug","name":"","active":true,"console":"true","complete":"true","x":531.7999572753906,"y":550.7999725341797,"z":"2571a477.da8e5c","wires":[]},{"id":"87976228.7868a","type":"switch","name":"Check if top tweet","property":"payload.BETTERTWEETS","rules":[{"t":"eq","v":0,"v2":0}],"checkall":"true","outputs":1,"x":557.7999572753906,"y":464.7999725341797,"z":"2571a477.da8e5c","wires":[["eb9d3fc4.1462c"]]},{"id":"bd61e3f6.429e2","type":"function","name":"Format Data","func":"var loc= msg.tweet.user.location;\nif(loc==null){\n    loc = \"NA\";\n}\n\nmsg.payload = \n{\n  SCREENNAME : msg.tweet.user.screen_name,\n  TWEET : msg.payload,\n  SENTIMENT : msg.sentiment.score,\n  LOCATION : loc,\n  TS : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"noerr":0,"x":617.7999572753906,"y":230.45957946777344,"z":"2571a477.da8e5c","wires":[["ee17c9ad.11e838","8df44b7c.720bb8"]]},{"id":"afb1744.f504e88","type":"function","name":"Format Data","func":"var loc= msg.tweet.user.location;\nif(loc==null){\n    loc = \"NA\";\n}\n\nmsg.payload = \n\n{\n  SCREENNAME : msg.tweet.user.screen_name,\n  TWEET : msg.payload,\n  SENTIMENT : msg.sentiment.score,\n  LOCATION : loc,\n  TS : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"noerr":0,"x":593.7999572753906,"y":326.3920440673828,"z":"2571a477.da8e5c","wires":[["df2bce69.20d43"]]},{"id":"8df44b7c.720bb8","type":"debug","name":"View Data","active":true,"console":"false","complete":"payload","x":834.9999694824219,"y":229.99998474121094,"z":"2571a477.da8e5c","wires":[]}]