CandidatesApp1.0/files/CandidatesApp_Import_Sheet2.txt
[{"id":"b1c66049.4e39a","type":"http in","name":"","url":"/bushspread","method":"get","x":373.00001525878906,"y":188,"z":"26ceb6d.fd9314a","wires":[["788c56a8.8773a8"]]},{"id":"87be12bf.7841f","type":"http response","name":"","x":744.0000152587891,"y":186,"z":"26ceb6d.fd9314a","wires":[]},{"id":"788c56a8.8773a8","type":"sqldb in","service":"SQL Database-94","query":"select count(*) as count,sentiment from jebbush group by sentiment","params":"","name":"","x":565.0000152587891,"y":187,"z":"26ceb6d.fd9314a","wires":[["87be12bf.7841f"]]},{"id":"3980157b.c67fea","type":"http in","name":"","url":"/clintonspread","method":"get","x":376.00001525878906,"y":279,"z":"26ceb6d.fd9314a","wires":[["d62a3055.29d5d"]]},{"id":"d62a3055.29d5d","type":"sqldb in","service":"SQL Database-94","query":"select count(*) as count,sentiment from hillaryclinton group by sentiment ","params":"","name":"","x":575.0000152587891,"y":279,"z":"26ceb6d.fd9314a","wires":[["91ddaefb.6e225"]]},{"id":"91ddaefb.6e225","type":"http response","name":"","x":746.0000152587891,"y":279,"z":"26ceb6d.fd9314a","wires":[]},{"id":"55e11036.aa1ef","type":"template","name":"HTML","field":"payload","template":"<!doctype html>\n<html>\n\t<head>\n\t\t<title>Bar Chart</title>\n\t\t<script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js\"></script>\n      <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n\t</head>\n    <style>\n      .yaxis {\n         -ms-transform: rotate(270deg); /* IE 9 */\n         -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */\n         transform: rotate(270deg);\n         color: #777;\n         height: 10px;  \n         writing-mode: bt-rl;\n         text-indent: -3em;\n         padding: 0px 0px 0px 0px;\n         margin: 0px;\n         text-align: left;\n         vertical-align: top;\n      }\n    </style>\n    <body>\n      <center>\n      <h1>Twitter Sentiment Results</h1>\n      <h4>Sentiment Spread</h4>\n      <div align=\"center\">\n      <table style=\"padding-right:100px;left:-100px;border-spacing:0px;\">\n         <tr>\n            <td><p class=\"yaxis\">Number of Tweets</p></td>\n            <td><div>\n                <canvas id=\"canvas\" height=\"431\" width=\"627\" style=\"width: 627px; height: 431px;\"></canvas>\n            </div></td>\n         </tr>\n      </table>\n        <p style=\"color:#777;text-align:center\">Sentiment Score</p>\n      </div>\n      <div style=\"width:50%\">\n        <ul id=\"listgroup\" style=\"text-align:left\"></ul>\n      </div>\n    </center>\n\n\t<script>\n      var qs = (function(a) {\n          if (a == \"\") return {};\n          var b = {};\n          for (var i = 0; i < a.length; ++i)\n          {\n              var p=a[i].split('=', 2);\n              if (p.length == 1)\n                  b[p[0]] = \"\";\n              else\n                  b[p[0]] = decodeURIComponent(p[1].replace(/\\+/g, \" \"));\n          }\n          return b;\n      })(window.location.search.substr(1).split('&'));\n      var candidte = qs[\"q\"];\n      var color = (candidte == \"clinton\") ? \"#55f\" : \"#f55\";\n      console.log(color);\n      var RAN = 9;\n      var LIMIT = 100000;\n      var labelArray = Array();\n      for (var i=0; i < (RAN*2)+1; i++) {\n         if (i-RAN == 0) continue;\n         labelArray.push(i-RAN)\n      }\n\t\tvar barChartData = {\n\t\t\tlabels : labelArray,\n\t\t\tdatasets : [\n\t\t\t\t{\n\t\t\t\t\tlabel: \"Clinton\",\n\t\t\t\t\tfillColor : \"red\",\n\t\t\t\t\tstrokeColor : \"red\",\n\t\t\t\t\thighlightFill : \"#fff\",\n\t\t\t\t\thighlightStroke : \"rgba(220,220,220,1)\",\n\t\t\t\t\tdata : []\n\t\t\t\t}\n\t\t\t]\n\n\t\t};\n        \n      \n      var lURL = \"/\" + candidte + \"spread\";\n      var bURL = \"/\" + candidte + \"sample?score=\";\n      var ctx = document.getElementById(\"canvas\").getContext(\"2d\");\n      window.myBar = new Chart(ctx).Bar(barChartData, {\n         responsive: true\n      });\n\n\n      $.getJSON(lURL, function(data) {\n         var dataC = Array.apply(null, new Array((RAN*2)+1)).map(Number.prototype.valueOf,0);\n         // dataC at this point has not yet been filled window.alert(\"dataC is: \" + dataC);\n         for (var i = 0; i < data.length; i++) {\n            var sentiment = Math.floor(data[i].SENTIMENT);\n            var count = data [i].COUNT;\n            if (sentiment <= RAN && sentiment >= -RAN) {\n               if (count > LIMIT) {count = LIMIT;}\n               dataC[sentiment+RAN] = count;\n            }\n         }\n         dataC.splice(Math.floor(dataC.length / 2), 1);\n         barChartData.datasets[0].data = dataC;\n         //window.myBar.datasets[0].data = dataC;\n         var ctx = document.getElementById(\"canvas\").getContext(\"2d\");\n         \n         window.myBar = new Chart(ctx).Bar(barChartData, {\n            responsive: true\n         });\n          for (var i = 9; i < 18; i++) {\n            myBar.datasets[0].bars[i].fillColor = \"green\";\n            myBar.datasets[0].bars[i].strokeColor = \"green\";\n         }\n         window.myBar.update();\n      });\n         \n      \n      \n      var lg = document.getElementById(\"listgroup\");\n      canvas.onclick = function(evt){\n         var activeBars = window.myBar.getBarsAtEvent(evt);\n         var bar = activeBars[0].label;\n         if (bar || bar == 0) {\n            lg.innerHTML = \"Loading...\";\n            $.getJSON(bURL + bar.toString(), function(data) {\n               console.log(data);\n               lg.innerHTML = \"\";\n               for (var i = 0; i < data.length; i++) {\n                  lg.innerHTML += \"<li>\" + data[i].TWEET + \"</li>\";\n               }\n            });\n         }\n      };\n\n\n\t</script>\n\t</body>\n</html>\n","x":518.0000152587891,"y":392,"z":"26ceb6d.fd9314a","wires":[["a2923af8.5d6dc8"]]},{"id":"94cf68db.6b3098","type":"http in","name":"","url":"/bar","method":"get","x":354,"y":392,"z":"26ceb6d.fd9314a","wires":[["55e11036.aa1ef"]]},{"id":"a2923af8.5d6dc8","type":"http response","name":"http response","x":735.0000152587891,"y":392,"z":"26ceb6d.fd9314a","wires":[]},{"id":"efaceade.105318","type":"http in","name":"","url":"/bushsample","method":"get","x":382.00001525878906,"y":463,"z":"26ceb6d.fd9314a","wires":[["2d1e7bb6.d2e184"]]},{"id":"30a15651.cf5eaa","type":"http response","name":"","x":761.0000152587891,"y":462,"z":"26ceb6d.fd9314a","wires":[]},{"id":"2d1e7bb6.d2e184","type":"sqldb in","service":"SQL Database-94","query":"select screenname,tweet,location from jebbush where sentiment = ? fetch first 10 rows only","params":"msg.payload.score","name":"","x":577.0000152587891,"y":463,"z":"26ceb6d.fd9314a","wires":[["30a15651.cf5eaa"]]},{"id":"a4454e57.5bbab","type":"http in","name":"","url":"/clintonsample","method":"get","x":381.00001525878906,"y":549,"z":"26ceb6d.fd9314a","wires":[["4da38c69.b25c74"]]},{"id":"800f5778.7ff0a8","type":"http response","name":"","x":778.0000152587891,"y":549,"z":"26ceb6d.fd9314a","wires":[]},{"id":"4da38c69.b25c74","type":"sqldb in","service":"SQL Database-94","query":"select screenname,tweet,location from hillaryclinton where sentiment = ? fetch first 10 rows only","params":"msg.payload.score","name":"","x":586.0000152587891,"y":550,"z":"26ceb6d.fd9314a","wires":[["800f5778.7ff0a8"]]}]