CandidatesApp2.0/files/Candidates_App2.0_Import_Sheet.txt
[{"id":"6c9fe047.93602","type":"twitter in","twitter":"","tags":"Jeb Bush","user":"false","name":"","topic":"tweets","x":187,"y":221,"z":"bfc188e8.403e78","wires":[["57062e55.a8f9d"]]},{"id":"5b133a59.a4ecc4","type":"alchemy-feature-extract","name":"","page-image":"","image-kw":"","feed":"","entity":false,"keyword":false,"title":false,"author":false,"taxonomy":"","concept":true,"relation":"","pub-date":false,"doc-sentiment":false,"x":545,"y":236,"z":"bfc188e8.403e78","wires":[["720c7d05.8df384","16942ad5.e96bd5"]]},{"id":"720c7d05.8df384","type":"debug","name":"","active":false,"console":"true","complete":"true","x":707,"y":285,"z":"bfc188e8.403e78","wires":[]},{"id":"623637f7.9dc9c8","type":"cloudant out","service":"CandidateApp2-cloudantNoSQLDB","cloudant":"","name":"","database":"features","payonly":false,"operation":"insert","x":862,"y":226,"z":"bfc188e8.403e78","wires":[]},{"id":"16942ad5.e96bd5","type":"function","name":"Attach date","func":"msg.TS = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":691,"y":191,"z":"bfc188e8.403e78","wires":[["623637f7.9dc9c8"]]},{"id":"469d80ef.b9628","type":"http in","name":"","url":"/concepts","method":"get","swaggerDoc":"","x":204,"y":409.00001525878906,"z":"bfc188e8.403e78","wires":[["9f55d66b.60aa28"]]},{"id":"4bac6a30.b45394","type":"http response","name":"","x":786.0000152587891,"y":491.00001525878906,"z":"bfc188e8.403e78","wires":[]},{"id":"9f55d66b.60aa28","type":"http request","name":"","method":"GET","ret":"txt","url":"https://cd29bba6-2357-4552-9b5c-c683977219a8-bluemix.cloudant.com/features/_design/app/_view/concepts?limit=200&reduce=true&group=true","x":404.00001525878906,"y":413.00001525878906,"z":"bfc188e8.403e78","wires":[["c9575dc9.36a8a"]]},{"id":"c9575dc9.36a8a","type":"function","name":"","func":"payloadParsed = JSON.parse(msg.payload);\nvar sortByValue = payloadParsed.rows.slice(0);\nsortByValue.sort(function(a,b) {\n    return b.value - a.value;\n});\nmsg.payload = sortByValue.slice(0,100);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":591.0000152587891,"y":417.00001525878906,"z":"bfc188e8.403e78","wires":[["4bac6a30.b45394","79370065.86c9"]]},{"id":"79370065.86c9","type":"debug","name":"","active":false,"console":"false","complete":"false","x":796.0000152587891,"y":409.00001525878906,"z":"bfc188e8.403e78","wires":[]},{"id":"57062e55.a8f9d","type":"function","name":"Check for URL","func":"if (typeof msg.tweet == \"undefined\" || \n   typeof msg.tweet.entities == \"undefined\" ||\n   typeof msg.tweet.entities.urls == \"undefined\" ||\n   typeof msg.tweet.entities.urls[0] == \"undefined\")\n{\n    node.log(\"No URL in the tweet\");\n    msg = null;\n}\nelse msg.payload = msg.tweet.entities.urls[0].expanded_url\nreturn msg;\n","outputs":1,"noerr":0,"x":364.00001525878906,"y":227,"z":"bfc188e8.403e78","wires":[["5b133a59.a4ecc4"]]}]