CandidatesApp2.0/files/Candidates_App2.0_Import_Sheet1.txt
[{"id":"2bd94518.7d22b2","type":"twitter in","twitter":"","tags":"Jeb Bush","user":"false","name":"","topic":"tweets","x":89.19999694824219,"y":135.1999969482422,"z":"e80dc432.581b3","wires":[["2c46b42.7a7b94c"]]},{"id":"1979645c.be7abc","type":"alchemy-feature-extract","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":true,"title":true,"author":false,"taxonomy":"","concept":true,"relation":"","pub-date":true,"doc-sentiment":true,"x":480.20001220703125,"y":144.1999969482422,"z":"e80dc432.581b3","wires":[["158361f8.ad2196","72d8aae0.a53474"]]},{"id":"158361f8.ad2196","type":"debug","name":"","active":false,"console":"true","complete":"true","x":659.2000122070312,"y":183.1999969482422,"z":"e80dc432.581b3","wires":[]},{"id":"efdb8589.a97c7","type":"cloudant out","service":"demoforinsight-cloudantNoSQLDB","cloudant":"","name":"","database":"features","payonly":false,"operation":"insert","x":863.2000122070312,"y":90.19999694824219,"z":"e80dc432.581b3","wires":[]},{"id":"72d8aae0.a53474","type":"function","name":"Attach date","func":"msg.TS = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":685.2000122070312,"y":89.19999694824219,"z":"e80dc432.581b3","wires":[["efdb8589.a97c7"]]},{"id":"729e70ab.0cefa","type":"http in","name":"","url":"/concepts","method":"get","swaggerDoc":"","x":120.19999694824219,"y":302.20001220703125,"z":"e80dc432.581b3","wires":[["2f3aee82.e58832"]]},{"id":"2474548.779b02c","type":"http response","name":"","x":702.2000122070312,"y":384.20001220703125,"z":"e80dc432.581b3","wires":[]},{"id":"2f3aee82.e58832","type":"http request","name":"","method":"GET","ret":"txt","url":"https://cd29bba6-2357-4552-9b5c-c683977219a8-bluemix.cloudant.com/features/_design/app/_view/concepts?limit=100&reduce=true&group=true","x":320.20001220703125,"y":306.20001220703125,"z":"e80dc432.581b3","wires":[["9fe3c48.f0948b8"]]},{"id":"9fe3c48.f0948b8","type":"function","name":"","func":"payloadParsed = JSON.parse(msg.payload);\nvar sortByValue = payloadParsed.rows.slice(0);\nsortByValue.sort(function(a,b) {\n    return b.value - a.value;\n});\nmsg.payload = sortByValue.slice(0,10);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":507.20001220703125,"y":310.20001220703125,"z":"e80dc432.581b3","wires":[["2474548.779b02c","1437059e.a5bde2"]]},{"id":"1437059e.a5bde2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":712.2000122070312,"y":302.20001220703125,"z":"e80dc432.581b3","wires":[]},{"id":"2c46b42.7a7b94c","type":"function","name":"Check for URL","func":"if (typeof msg.tweet == \"undefined\" || \n   typeof msg.tweet.entities == \"undefined\" ||\n   typeof msg.tweet.entities.urls == \"undefined\")\n{\n    node.log(\"No URL in the tweet\");\n    return null;\n}\nmsg.payload = msg.tweet.entities.urls[0].expanded_url\nreturn msg;\n","outputs":1,"noerr":0,"x":274.20001220703125,"y":141.1999969482422,"z":"e80dc432.581b3","wires":[["1979645c.be7abc"]]}]