CandidatesApp2.0/files/Candidates_App2.0_Import_Sheet1.txt
[{"id":"b586157.f4a79e8","type":"twitter in","twitter":"","tags":"Jeb Bush","user":"false","name":"","topic":"tweets","x":91,"y":112,"z":"2ebc368f.d143ca","wires":[["6d70012c.929"]]},{"id":"41789f4a.be876","type":"alchemy-feature-extract","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":true,"title":true,"author":false,"taxonomy":"","concept":true,"relation":"","pub-date":true,"doc-sentiment":true,"x":449,"y":127,"z":"2ebc368f.d143ca","wires":[["c0e474b4.3f1b88","a28667f7.5d7998"]]},{"id":"c0e474b4.3f1b88","type":"debug","name":"","active":true,"console":"true","complete":"true","x":611,"y":176,"z":"2ebc368f.d143ca","wires":[]},{"id":"573368d4.a8cc98","type":"cloudant out","service":"demoforinsight-cloudantNoSQLDB","cloudant":"","name":"","database":"features","payonly":false,"operation":"insert","x":766,"y":117,"z":"2ebc368f.d143ca","wires":[]},{"id":"a28667f7.5d7998","type":"function","name":"Attach date","func":"msg.TS = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":82,"z":"2ebc368f.d143ca","wires":[["573368d4.a8cc98"]]},{"id":"44301b41.bbcfe4","type":"http in","name":"","url":"/concepts","method":"get","swaggerDoc":"","x":108,"y":300.00001525878906,"z":"2ebc368f.d143ca","wires":[["343ea7d1.cbc158"]]},{"id":"3ba9d82c.c45628","type":"http response","name":"","x":690.0000152587891,"y":382.00001525878906,"z":"2ebc368f.d143ca","wires":[]},{"id":"343ea7d1.cbc158","type":"http request","name":"","method":"GET","ret":"txt","url":"https://cd29bba6-2357-4552-9b5c-c683977219a8-bluemix.cloudant.com/features/_design/app/_view/concepts?limit=100&reduce=true&group=true","x":308.00001525878906,"y":304.00001525878906,"z":"2ebc368f.d143ca","wires":[["38224837.c7ddb8"]]},{"id":"38224837.c7ddb8","type":"function","name":"","func":"payloadParsed = JSON.parse(msg.payload);\nvar sortByValue = payloadParsed.rows.slice(0);\nsortByValue.sort(function(a,b) {\n    return b.value - a.value;\n});\nmsg.payload = sortByValue.slice(0,10);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":495.00001525878906,"y":308.00001525878906,"z":"2ebc368f.d143ca","wires":[["3ba9d82c.c45628","10aa9452.ef556c"]]},{"id":"10aa9452.ef556c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":700.0000152587891,"y":300.00001525878906,"z":"2ebc368f.d143ca","wires":[]},{"id":"6d70012c.929","type":"function","name":"Check for URL","func":"if (typeof msg.tweet == \"undefined\" || \n   typeof msg.tweet.entities == \"undefined\" ||\n   typeof msg.tweet.entities.urls == \"undefined\" ||\n   typeof msg.tweet.entities.urls[0] == \"undefined\")\n{\n    node.log(\"No URL in the tweet\");\n    msg = null;\n}\nelse msg.payload = msg.tweet.entities.urls[0].expanded_url\nreturn msg;\n","outputs":1,"noerr":0,"x":268.00001525878906,"y":118,"z":"2ebc368f.d143ca","wires":[["41789f4a.be876"]]}]
