CandidatesApp2.0/files/new-wordcloudflow.json
[{"id":"9e2a6bef.9199b","type":"cloudant out","service":"menlo-college-cloudantNoSQLDB","cloudant":"","name":"","database":"features","payonly":false,"operation":"insert","x":852.0000152587891,"y":79,"z":"159de5b5.b19882","wires":[]},{"id":"9fbab8c9.369938","type":"twitter in","twitter":"","tags":"Hillary Clinton","user":"false","name":"","topic":"tweets","x":78,"y":124,"z":"159de5b5.b19882","wires":[["d6cc2cda.69351"]]},{"id":"cef54915.ed9b","type":"alchemy-feature-extract","name":"","page-image":"","image-kw":"","feed":"","entity":true,"keyword":true,"title":true,"author":false,"taxonomy":"","concept":true,"relation":"","pub-date":true,"doc-sentiment":true,"x":469.00001525878906,"y":133,"z":"159de5b5.b19882","wires":[["c6ae5220.9ab7f","51e67850.d75858"]]},{"id":"c6ae5220.9ab7f","type":"debug","name":"","active":false,"console":"true","complete":"true","x":648.0000152587891,"y":172,"z":"159de5b5.b19882","wires":[]},{"id":"51e67850.d75858","type":"function","name":"Attach date","func":"msg.TS = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":674.0000152587891,"y":78,"z":"159de5b5.b19882","wires":[["9e2a6bef.9199b"]]},{"id":"ab62dbc5.481b9","type":"http in","name":"","url":"/concepts","method":"get","swaggerDoc":"","x":109,"y":291.00001525878906,"z":"159de5b5.b19882","wires":[["48b1f9d.6494888"]]},{"id":"6ce37638.ca411","type":"http response","name":"","x":691.0000152587891,"y":373.00001525878906,"z":"159de5b5.b19882","wires":[]},{"id":"48b1f9d.6494888","type":"http request","name":"","method":"GET","ret":"txt","url":"https://21042e30-763d-4121-9915-33e195fcd4cf-bluemix.cloudant.com/features/_design/app/_view/concepts?limit=100&reduce=true&group=true","x":309.00001525878906,"y":295.00001525878906,"z":"159de5b5.b19882","wires":[["16860f5f.5a7c81"]]},{"id":"16860f5f.5a7c81","type":"function","name":"","func":"payloadParsed = JSON.parse(msg.payload);\nvar sortByValue = payloadParsed.rows.slice(0);\nsortByValue.sort(function(a,b) {\n return b.value - a.value;\n});\nmsg.payload = sortByValue.slice(0,50);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":496.00001525878906,"y":299.00001525878906,"z":"159de5b5.b19882","wires":[["6ce37638.ca411","fbb9714.c929f9"]]},{"id":"fbb9714.c929f9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":701.0000152587891,"y":291.00001525878906,"z":"159de5b5.b19882","wires":[]},{"id":"d6cc2cda.69351","type":"function","name":"Check for URL","func":"if (typeof msg.tweet == \"undefined\" || \n typeof msg.tweet.entities == \"undefined\" ||\n typeof msg.tweet.entities.urls == \"undefined\" ||\n typeof msg.tweet.entities.urls[0] == \"undefined\" ||\n typeof msg.tweet.entities.urls[0].expanded_url == \"undefined\")\n{\n node.log(\"No URL in the tweet\");\n return null;\n}\n\nif (msg.tweet.entities.urls[0].expanded_url) {\n  msg.payload = msg.tweet.entities.urls[0].expanded_url\n  return msg;\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":263.00001525878906,"y":130,"z":"159de5b5.b19882","wires":[["cef54915.ed9b"]]},{"id":"9419c841.c96d58","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<html>\n<script src=\"http://d3js.org/d3.v3.min.js\"></script>\n<script src=\"http://cdslabfs.mybluemix.net/d3-cloud/build/d3.layout.cloud.js\"></script>\n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n<head>\n <title>Word Cloud Example</title>\n</head>\n<style>\n body {\n font-family:\"Lucida Grande\",\"Droid Sans\",Arial,Helvetica,sans-serif;\n }\n .legend {\n border: 1px solid #555555;\n border-radius: 5px 5px 5px 5px;\n font-size: 0.8em;\n margin: 10px;\n padding: 8px;\n }\n .bld {\n font-weight: bold;\n }\n</style>\n<body>\n\n</body>\n<script>\n\n var frequency_list;\n $.getJSON(\"/concepts\", function(data) {\n\n frequency_list = [];\n var size;\n for (var i = 0; i < data.length; i++) {\n console.log(\"Pushing: \" + data[i].key);\n size = data[i].value;\n if (size > 40 && size < 100) {size = 40}\n else if (size > 100) {size = 60}\n frequency_list.push({\"text\":data[i].key,\"size\":size});\n }\n \n console.log(\"DATA IS: \" + frequency_list);\n\n //var frequency_list = [{\"text\":\"study\",\"size\":40},{\"text\":\"motion\",\"size\":15},{\"text\":\"forces\",\"size\":10},{\"text\":\"electricity\",\"size\":15},{\"text\":\"movement\",\"size\":10},{\"text\":\"relation\",\"size\":5},{\"text\":\"things\",\"size\":10},{\"text\":\"force\",\"size\":5},{\"text\":\"ad\",\"size\":5},{\"text\":\"energy\",\"size\":85},{\"text\":\"living\",\"size\":5},{\"text\":\"nonliving\",\"size\":5},{\"text\":\"laws\",\"size\":15},{\"text\":\"speed\",\"size\":45},{\"text\":\"velocity\",\"size\":30},{\"text\":\"define\",\"size\":5},{\"text\":\"constraints\",\"size\":5},{\"text\":\"universe\",\"size\":10},{\"text\":\"physics\",\"size\":120},{\"text\":\"describing\",\"size\":5},{\"text\":\"matter\",\"size\":90},{\"text\":\"physics-the\",\"size\":5},{\"text\":\"world\",\"size\":10},{\"text\":\"works\",\"size\":10},{\"text\":\"science\",\"size\":70},{\"text\":\"interactions\",\"size\":30},{\"text\":\"studies\",\"size\":5},{\"text\":\"properties\",\"size\":45},{\"text\":\"nature\",\"size\":40},{\"text\":\"branch\",\"size\":30},{\"text\":\"concerned\",\"size\":25},{\"text\":\"source\",\"size\":40},{\"text\":\"google\",\"size\":10},{\"text\":\"defintions\",\"size\":5},{\"text\":\"two\",\"size\":15},{\"text\":\"grouped\",\"size\":15},{\"text\":\"traditional\",\"size\":15},{\"text\":\"fields\",\"size\":15},{\"text\":\"acoustics\",\"size\":15},{\"text\":\"optics\",\"size\":15},{\"text\":\"mechanics\",\"size\":20},{\"text\":\"thermodynamics\",\"size\":15},{\"text\":\"electromagnetism\",\"size\":15},{\"text\":\"modern\",\"size\":15},{\"text\":\"extensions\",\"size\":15},{\"text\":\"thefreedictionary\",\"size\":15},{\"text\":\"interaction\",\"size\":15},{\"text\":\"org\",\"size\":25},{\"text\":\"answers\",\"size\":5},{\"text\":\"natural\",\"size\":15},{\"text\":\"objects\",\"size\":5},{\"text\":\"treats\",\"size\":10},{\"text\":\"acting\",\"size\":5},{\"text\":\"department\",\"size\":5},{\"text\":\"gravitation\",\"size\":5},{\"text\":\"heat\",\"size\":10},{\"text\":\"light\",\"size\":10},{\"text\":\"magnetism\",\"size\":10},{\"text\":\"modify\",\"size\":5},{\"text\":\"general\",\"size\":10},{\"text\":\"bodies\",\"size\":5},{\"text\":\"philosophy\",\"size\":5},{\"text\":\"brainyquote\",\"size\":5},{\"text\":\"words\",\"size\":5},{\"text\":\"ph\",\"size\":5},{\"text\":\"html\",\"size\":5},{\"text\":\"lrl\",\"size\":5},{\"text\":\"zgzmeylfwuy\",\"size\":5},{\"text\":\"subject\",\"size\":5},{\"text\":\"distinguished\",\"size\":5},{\"text\":\"chemistry\",\"size\":5},{\"text\":\"biology\",\"size\":5},{\"text\":\"includes\",\"size\":5},{\"text\":\"radiation\",\"size\":5},{\"text\":\"sound\",\"size\":5},{\"text\":\"structure\",\"size\":5},{\"text\":\"atoms\",\"size\":5},{\"text\":\"including\",\"size\":10},{\"text\":\"atomic\",\"size\":10},{\"text\":\"nuclear\",\"size\":10},{\"text\":\"cryogenics\",\"size\":10},{\"text\":\"solid-state\",\"size\":10},{\"text\":\"particle\",\"size\":10},{\"text\":\"plasma\",\"size\":10},{\"text\":\"deals\",\"size\":5},{\"text\":\"merriam-webster\",\"size\":5},{\"text\":\"dictionary\",\"size\":10},{\"text\":\"analysis\",\"size\":5},{\"text\":\"conducted\",\"size\":5},{\"text\":\"order\",\"size\":5},{\"text\":\"understand\",\"size\":5},{\"text\":\"behaves\",\"size\":5},{\"text\":\"en\",\"size\":5},{\"text\":\"wikipedia\",\"size\":5},{\"text\":\"wiki\",\"size\":5},{\"text\":\"physics-\",\"size\":5},{\"text\":\"physical\",\"size\":5},{\"text\":\"behaviour\",\"size\":5},{\"text\":\"collinsdictionary\",\"size\":5},{\"text\":\"english\",\"size\":5},{\"text\":\"time\",\"size\":35},{\"text\":\"distance\",\"size\":35},{\"text\":\"wheels\",\"size\":5},{\"text\":\"revelations\",\"size\":5},{\"text\":\"minute\",\"size\":5},{\"text\":\"acceleration\",\"size\":20},{\"text\":\"torque\",\"size\":5},{\"text\":\"wheel\",\"size\":5},{\"text\":\"rotations\",\"size\":5},{\"text\":\"resistance\",\"size\":5},{\"text\":\"momentum\",\"size\":5},{\"text\":\"measure\",\"size\":10},{\"text\":\"direction\",\"size\":10},{\"text\":\"car\",\"size\":5},{\"text\":\"add\",\"size\":5},{\"text\":\"traveled\",\"size\":5},{\"text\":\"weight\",\"size\":5},{\"text\":\"electrical\",\"size\":5},{\"text\":\"power\",\"size\":5}];\n\n\n var color = d3.scale.linear()\n .domain([0,1,2,3,4,5,6,10,15,20,100])\n .range([\"#ddd\", \"#ccc\", \"#bbb\", \"#aaa\", \"#999\", \"#888\", \"#777\", \"#666\", \"#555\", \"#444\", \"#333\", \"#222\"]);\n\n d3.layout.cloud().size([800, 300])\n .words(frequency_list)\n .rotate(0)\n .fontSize(function(d) { return d.size; })\n .on(\"end\", draw)\n .start();\n\n function draw(words) {\n d3.select(\"body\").append(\"svg\")\n .attr(\"width\", 1500)\n .attr(\"height\", 500)\n .attr(\"class\", \"wordcloud\")\n .append(\"g\")\n // without the transform, words words would get cutoff to the left and top, they would\n // appear outside of the SVG area\n .attr(\"transform\", \"translate(320,200)\")\n .selectAll(\"text\")\n .data(words)\n .enter().append(\"text\")\n .style(\"font-size\", function(d) { return d.size + \"px\"; })\n .style(\"fill\", function(d, i) { return color(i); })\n .attr(\"transform\", function(d) {\n return \"translate(\" + [d.x, d.y] + \")rotate(\" + d.rotate + \")\";\n })\n .text(function(d) { return d.text; });\n }\n });\n</script>\n\n<div style=\"width: 40%;\">\n <div class=\"legend\">\n Commonly used words are larger and slightly faded in color. Less common words are smaller and darker.\n </div>\n\n</div>\n\n\n</html>","x":336,"y":500,"z":"159de5b5.b19882","wires":[["74eee294.fe2c1c"]]},{"id":"ea241d78.9e70c8","type":"http in","name":"","url":"/wordcloud","method":"get","swaggerDoc":"","x":117,"y":501,"z":"159de5b5.b19882","wires":[["9419c841.c96d58"]]},{"id":"74eee294.fe2c1c","type":"http response","name":"","x":544,"y":502,"z":"159de5b5.b19882","wires":[]}]
