CandidatesApp2.0/files/wordcloudflow.txt
[{"id":"e2f1feb7.22639","type":"http in","name":"","url":"/wordcloud","method":"get","swaggerDoc":"","x":206.99998474121094,"y":431,"z":"de0a50fc.c46b18","wires":[["8b31a547.74ce58"]]},{"id":"d50f0e78.18729","type":"http response","name":"","x":617,"y":431,"z":"de0a50fc.c46b18","wires":[]},{"id":"8b31a547.74ce58","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<title>canvas</title>\n<script src=\"http://cdslabfs.mybluemix.net/wordcloud2.js/src/wordcloud2.js\"></script>\n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>\n\n<style type=\"text/css\">    \n#canvas_cloud{\nwidth: 100%;\nheight:600px;\n}\n</style>\n\n</head>\n\n<body>\n\n<div id=\"sourrounding_div\" style=\"width:100%;height:600px\">\n<canvas id=\"canvas_cloud\"></canvas>\n</div>\n\n<script>\n\nvar div = document.getElementById(\"sourrounding_div\");\n\nvar canvas = document.getElementById(\"canvas_cloud\");\n\ncanvas.height = div.offsetHeight;\n\ncanvas.width  = div.offsetWidth;\n\n\n    $.getJSON(\"/concepts\", function(data) {\n\n    var frequency_list = [];\n    var size;\n    max = data.length;\n    console.log(\"Max is: \" + max);\n    for (var i = 0; i < data.length; i++) {\n      if (i == 0) {size = 10}\n      else if (i < (0.1 * max)) {size = 8}\n      else if (i < (0.2 * max)) {size = 7}\n      else if (i < (0.3 * max)) {size = 5}\n      else if (i < (0.4 * max)) {size = 5}\n      else if (i < (0.5 * max)) {size = 4}\n      else if (i < (0.6 * max)) {size = 4}\n      else if (i < (0.7 * max)) {size = 3}\n      else if (i < (0.8 * max)) {size = 3}\n      else {size = 3}\n      console.log(\"Pushing: \" + data[i].key);\n      console.log(\"With a size of: \" + size);\n      frequency_list.push([data[i].key,size]);\n      }\n      \n      console.log(\"frequency list is: \" + frequency_list);\n\nvar options = \n{\n  list : frequency_list,\n  gridSize: Math.round(16 * document.getElementById('canvas_cloud').offsetWidth / 1024),\n  weightFactor: function (size) {\n    return Math.pow(size, 1.9) * document.getElementById('canvas_cloud').offsetWidth / 1024;\n  },\n  rotateRatio : 0.75\n}\n\nWordCloud(document.getElementById('canvas_cloud'),options); \n});\n</script>\n\n</body>\n</html>\n\n","x":419,"y":432,"z":"de0a50fc.c46b18","wires":[["d50f0e78.18729"]]}]