CandidatesApp2.0/files/wordcloudflow.txt
[{"id":"fa670b20.724e58","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<html>\n<script src=\"http://d3js.org/d3.v3.min.js\"></script>\n<script src=\"http://cdslabfs.mybluemix.net/d3-cloud/build/d3.layout.cloud.js\"></script>\n<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n<head>\n    <title>Word Cloud Example</title>\n</head>\n<style>\n    body {\n        font-family:\"Lucida Grande\",\"Droid Sans\",Arial,Helvetica,sans-serif;\n    }\n    .legend {\n        border: 1px solid #555555;\n        border-radius: 5px 5px 5px 5px;\n        font-size: 0.8em;\n        margin: 10px;\n        padding: 8px;\n    }\n    .bld {\n        font-weight: bold;\n    }\n</style>\n<body>\n\n</body>\n<script>\n\n    var frequency_list;\n    $.getJSON(\"/concepts\", function(data) {\n\n    frequency_list = [];\n    var size;\n    for (var i = 0; i < data.length; i++) {\n      console.log(\"Pushing: \" + data[i].key);\n      size = data[i].value;\n      if (size > 40 && size < 100) {size = 40}\n      else if (size > 100) {size = 60}\n      frequency_list.push({\"text\":data[i].key,\"size\":size});\n      }\n    \n    console.log(\"DATA IS: \" + frequency_list);\n\n    //var frequency_list = [{\"text\":\"study\",\"size\":40},{\"text\":\"motion\",\"size\":15},{\"text\":\"forces\",\"size\":10},{\"text\":\"electricity\",\"size\":15},{\"text\":\"movement\",\"size\":10},{\"text\":\"relation\",\"size\":5},{\"text\":\"things\",\"size\":10},{\"text\":\"force\",\"size\":5},{\"text\":\"ad\",\"size\":5},{\"text\":\"energy\",\"size\":85},{\"text\":\"living\",\"size\":5},{\"text\":\"nonliving\",\"size\":5},{\"text\":\"laws\",\"size\":15},{\"text\":\"speed\",\"size\":45},{\"text\":\"velocity\",\"size\":30},{\"text\":\"define\",\"size\":5},{\"text\":\"constraints\",\"size\":5},{\"text\":\"universe\",\"size\":10},{\"text\":\"physics\",\"size\":120},{\"text\":\"describing\",\"size\":5},{\"text\":\"matter\",\"size\":90},{\"text\":\"physics-the\",\"size\":5},{\"text\":\"world\",\"size\":10},{\"text\":\"works\",\"size\":10},{\"text\":\"science\",\"size\":70},{\"text\":\"interactions\",\"size\":30},{\"text\":\"studies\",\"size\":5},{\"text\":\"properties\",\"size\":45},{\"text\":\"nature\",\"size\":40},{\"text\":\"branch\",\"size\":30},{\"text\":\"concerned\",\"size\":25},{\"text\":\"source\",\"size\":40},{\"text\":\"google\",\"size\":10},{\"text\":\"defintions\",\"size\":5},{\"text\":\"two\",\"size\":15},{\"text\":\"grouped\",\"size\":15},{\"text\":\"traditional\",\"size\":15},{\"text\":\"fields\",\"size\":15},{\"text\":\"acoustics\",\"size\":15},{\"text\":\"optics\",\"size\":15},{\"text\":\"mechanics\",\"size\":20},{\"text\":\"thermodynamics\",\"size\":15},{\"text\":\"electromagnetism\",\"size\":15},{\"text\":\"modern\",\"size\":15},{\"text\":\"extensions\",\"size\":15},{\"text\":\"thefreedictionary\",\"size\":15},{\"text\":\"interaction\",\"size\":15},{\"text\":\"org\",\"size\":25},{\"text\":\"answers\",\"size\":5},{\"text\":\"natural\",\"size\":15},{\"text\":\"objects\",\"size\":5},{\"text\":\"treats\",\"size\":10},{\"text\":\"acting\",\"size\":5},{\"text\":\"department\",\"size\":5},{\"text\":\"gravitation\",\"size\":5},{\"text\":\"heat\",\"size\":10},{\"text\":\"light\",\"size\":10},{\"text\":\"magnetism\",\"size\":10},{\"text\":\"modify\",\"size\":5},{\"text\":\"general\",\"size\":10},{\"text\":\"bodies\",\"size\":5},{\"text\":\"philosophy\",\"size\":5},{\"text\":\"brainyquote\",\"size\":5},{\"text\":\"words\",\"size\":5},{\"text\":\"ph\",\"size\":5},{\"text\":\"html\",\"size\":5},{\"text\":\"lrl\",\"size\":5},{\"text\":\"zgzmeylfwuy\",\"size\":5},{\"text\":\"subject\",\"size\":5},{\"text\":\"distinguished\",\"size\":5},{\"text\":\"chemistry\",\"size\":5},{\"text\":\"biology\",\"size\":5},{\"text\":\"includes\",\"size\":5},{\"text\":\"radiation\",\"size\":5},{\"text\":\"sound\",\"size\":5},{\"text\":\"structure\",\"size\":5},{\"text\":\"atoms\",\"size\":5},{\"text\":\"including\",\"size\":10},{\"text\":\"atomic\",\"size\":10},{\"text\":\"nuclear\",\"size\":10},{\"text\":\"cryogenics\",\"size\":10},{\"text\":\"solid-state\",\"size\":10},{\"text\":\"particle\",\"size\":10},{\"text\":\"plasma\",\"size\":10},{\"text\":\"deals\",\"size\":5},{\"text\":\"merriam-webster\",\"size\":5},{\"text\":\"dictionary\",\"size\":10},{\"text\":\"analysis\",\"size\":5},{\"text\":\"conducted\",\"size\":5},{\"text\":\"order\",\"size\":5},{\"text\":\"understand\",\"size\":5},{\"text\":\"behaves\",\"size\":5},{\"text\":\"en\",\"size\":5},{\"text\":\"wikipedia\",\"size\":5},{\"text\":\"wiki\",\"size\":5},{\"text\":\"physics-\",\"size\":5},{\"text\":\"physical\",\"size\":5},{\"text\":\"behaviour\",\"size\":5},{\"text\":\"collinsdictionary\",\"size\":5},{\"text\":\"english\",\"size\":5},{\"text\":\"time\",\"size\":35},{\"text\":\"distance\",\"size\":35},{\"text\":\"wheels\",\"size\":5},{\"text\":\"revelations\",\"size\":5},{\"text\":\"minute\",\"size\":5},{\"text\":\"acceleration\",\"size\":20},{\"text\":\"torque\",\"size\":5},{\"text\":\"wheel\",\"size\":5},{\"text\":\"rotations\",\"size\":5},{\"text\":\"resistance\",\"size\":5},{\"text\":\"momentum\",\"size\":5},{\"text\":\"measure\",\"size\":10},{\"text\":\"direction\",\"size\":10},{\"text\":\"car\",\"size\":5},{\"text\":\"add\",\"size\":5},{\"text\":\"traveled\",\"size\":5},{\"text\":\"weight\",\"size\":5},{\"text\":\"electrical\",\"size\":5},{\"text\":\"power\",\"size\":5}];\n\n\n    var color = d3.scale.linear()\n            .domain([0,1,2,3,4,5,6,10,15,20,100])\n            .range([\"#ddd\", \"#ccc\", \"#bbb\", \"#aaa\", \"#999\", \"#888\", \"#777\", \"#666\", \"#555\", \"#444\", \"#333\", \"#222\"]);\n\n    d3.layout.cloud().size([800, 300])\n            .words(frequency_list)\n            .rotate(0)\n            .fontSize(function(d) { return d.size; })\n            .on(\"end\", draw)\n            .start();\n\n    function draw(words) {\n        d3.select(\"body\").append(\"svg\")\n                .attr(\"width\", 1500)\n                .attr(\"height\", 500)\n                .attr(\"class\", \"wordcloud\")\n                .append(\"g\")\n                // without the transform, words words would get cutoff to the left and top, they would\n                // appear outside of the SVG area\n                .attr(\"transform\", \"translate(320,200)\")\n                .selectAll(\"text\")\n                .data(words)\n                .enter().append(\"text\")\n                .style(\"font-size\", function(d) { return d.size + \"px\"; })\n                .style(\"fill\", function(d, i) { return color(i); })\n                .attr(\"transform\", function(d) {\n                    return \"translate(\" + [d.x, d.y] + \")rotate(\" + d.rotate + \")\";\n                })\n                .text(function(d) { return d.text; });\n    }\n    });\n</script>\n\n<div style=\"width: 40%;\">\n    <div class=\"legend\">\n        Commonly used words are larger and slightly faded in color.  Less common words are smaller and darker.\n    </div>\n\n</div>\n\n\n</html>","x":375,"y":350,"z":"de0a50fc.c46b18","wires":[["d50f0e78.18729"]]},{"id":"e2f1feb7.22639","type":"http in","name":"","url":"/wordcloud","method":"get","swaggerDoc":"","x":156,"y":351,"z":"de0a50fc.c46b18","wires":[["fa670b20.724e58"]]},{"id":"d50f0e78.18729","type":"http response","name":"","x":583,"y":352,"z":"de0a50fc.c46b18","wires":[]}]
